.site-header {
	background: url('img/header_bg.png') no-repeat scroll top;
	background-size: 1600px auto;
}

.site-title {
	font-family: Bitter, Georgia, serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 10px;
}

.site-description {
	font: 300 italic 20px "Source Sans Pro", Helvetica, sans-serif;
	margin: 0;
	padding: 0px 20 10px;
}

.site-welcome {
	float: right;
	position: relative;
	top: -50;
}

.loading{
	background: url(img/loading.gif) center center no-repeat;
	padding: 1px 20px;
}